.blockTableau{
  text-align: center;
  margin-top: 2rem;
  
}

.tableau{
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5rem;
  background-color: #cecaca;
}

.lignePretTitre{
  display:flex;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.lignePret{
  display:flex;
  width: 100%;
  border-bottom: 1px dashed black;
}

.colonne1 {
  width: 5%;
}

.colonne {
  width: 19%;
}

.colonne3 {
  width: 19%;
}

@media screen and (max-width: 520px) {

  .tableau{
    padding: 1rem;

  }
  .colonne1 {
    width: 8%;
  }
  
  .colonne {
    width: 30%;
  }

  .colonne3 {
    display:none;
  }
}